<a href="https://colab.research.google.com/github/SWATSquad/Thinkful/blob/main/Python_Import_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlalchemy as sa

#postgres logon info for Thinkful
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'
#add database
#engine = sa.create_engine('postgresql://{}:{}@{}:{}/{}'.format(postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))
#import database
#df = pd.read_sql_query(sa.text('SELECT * FROM film'), con = engine.connect())
#close connection
#engine.dispose()

In [ ]:
import pandas as pd
import numpy as np

dvd_replacement_cost = np.array([20.99,12.99,18.99,26.99,22.99])
dvd_manual_series = pd.Series(dvd_replacement_cost)


pathway_csv = ('https://raw.githubusercontent.com/Thinkful-Ed/data-science-lectures/master/dvd_rentals.csv')
df = pd.read_csv(pathway_csv)
df_series = df['replacement_cost'].squeeze()

In [ ]:
salaries = [75000, 85000, 48000, 95000, 105000, 67000, 59000, 88000, 102500, 92500]
emp_id = [21, 77, 89, 141, 210, 277, 309, 328, 583, 1271]
emp_id_new = ['guz-ab1', 'smi-tr4', 'wie-al8', 'sur-qp2', 'pat-lg3', 'rob-sv5', 'dou-pp9', 'may-bp1', 'ken-mp2', 'hur-sk8']

salaries_series = pd.Series(salaries)
#salaries_series.index = emp_id
salaries_series.index = emp_id_new

#salaries_series[1271]
#salaries_series['may-bp1']

88000

In [ ]:
emp_id = [1212, 9876, 3454, 9981, 4623, 2329, 4888, 5421, 7771, 8632]
emp_id = pd.Series(emp_id)

emp_id_list = emp_id.to_list()

new_variable_name = emp_id.to_numpy()
new_emp_id_string = emp_id.to_string()

In [ ]:
emp_ssn = pd.Series([490728933, 220176588, 518638507, 427504604, 436426680, 518638507, 683207956, 679030475, 490728933, 490728933])
emp_ssn.is_unique
emp_ssn.value_counts()
emp_ssn.unique()

array([490728933, 220176588, 518638507, 427504604, 436426680, 683207956,
       679030475])